<div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Applications</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <!-- <li class="breadcrumb-item"><a href="#">Components</a></li> -->
                <li class="breadcrumb-item active" aria-current="page">Applications</li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">

            <!-- <a class="btn btn-neutral" href="#">
              <i class="fas fa-wifi text-primary"></i>
              <span class="nav-link-text">Subscribe</span>
            </a> -->
            <a class="btn btn-neutral" href="/applications/add-application">
              <i class="fas fa-plus text-primary"></i>
              <span class="nav-link-text">Add Application</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row justify-content-center">
      <div class=" col ">
        <div class="card">
          <div class="row">
            <div class="card-header bg-transparent">
              <h2 class="mb-0 ml-4">Your Applications</h2>
            </div>
            <div class="row col-lg-10 mb-3 mt-3 text-right ">
              <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
                <div class="form-group mb-0">
                  <div class="input-group input-group-alternative input-group-merge">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input class="form-control" placeholder="Search" type="text">
                  </div>
                </div>
                <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </form>
              <a href="#" class="btn btn-neutral">
                <i class="fas fa-filter"></i>
                <span>Filter</span>
              </a>
            </div>
          </div>
          
          <div class="card-body">
            <div class="row icon-examples">
              <% for(var i=0; i < datas.length; i++) { %>
                    <a href="/applications/<%= datas[i].appId %> " class= "col-lg-3 col-md-6 mb-3 mr-3 ml-3 btn btn-neutral text-left" >
                      <div class ="card-body">
                        <span><%= datas[i].appId %></span>
                        <span><%= datas[i].appName %></span>
                        <span><%= datas[i].userId %></span>
                      </div>
                  </a>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>